<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Code</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f5f5f5; padding: 20px;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
        
        <h3 style="text-align: center; color: #333;">Your OTP Code</h3>
        <p style="text-align: center; color: #666; font-size: 16px;">Here is your OTP code:</p>
        <div style="background-color: #f9f9f9; padding: 20px; text-align: center; border-radius: 5px;">
            <h3 style="font-size: 28px; color: green; margin: 0;">{{ otp_code }}</h3>

        </div>

        <p style="text-align: center; color: #666; font-size: 16px;">Please use this code to complete your login process.</p>
        <p style="text-align: center; color: #f80909; font-size: 16px;">This code will expire in 2 minite short time.</p>
        <p style="text-align: center; color: #666; font-size: 16px;">Thank you!</p>
    </div>

</body>
</html>
